 @media only screen and (max-width: 992px) {
     .navUl li a {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .headerBtn {
         justify-content: center;
         align-items: center;
     }
 }

 @media only screen and (max-width: 540px) {

     .slideReview,
     .slideBtn {
         flex-direction: column-reverse;
     }

     .slideBtn {
         margin-bottom: 20px !important;
     }
 }