 @media only screen and (max-width: 992px) {
     .navUl li a {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .headerBtn {
         justify-content: center;
         align-items: center;
     }

     .slideImgCol,
     .slideTextCol,
     .exImgCol,
     .exTextCol,
     .contactImgCol {
         justify-content: center;
     }

     .exImg {
         margin-bottom: 20px;
     }

     .category1,
     .category2,
     .blogPost1,
     .blogPost2 {
         margin-bottom: 20px;
     }

     .hireBx3,
     .hireBx4 {
         margin-bottom: 20px;
     }

     .installAppDiv {
         margin-bottom: 20px;
     }

     .footercnt {
         flex-direction: column;
         align-items: center;
         gap: 20px;
         justify-content: center !important;
     }
 }

 @media only screen and (max-width: 768px) {

     .category3,
     .category4,
     .blogPost3,
     .blogPost4 {
         margin-bottom: 20px;
     }

     .hireBxRow {
         margin-left: 0px !important;
         margin-right: 0px !important;
     }
 }

 @media only screen and (max-width: 540px) {

     .slideReview,
     .slideBtn {
         flex-direction: column-reverse;
     }

     .slideBtn {
         margin-bottom: 20px !important;
     }
 }