@import url(./responsive.css);

@font-face {
    font-family: secondFont;
    src: url(../Font/Elianto-Regular.otf);
}

:root {
    --navBarBgColor: #fff;
    --TextBlack: #000;
    --textWhite: #FFF;
    --btnBg: #3CB018;
    --btnBgHover: #2b7d11;
    --BtnRadius: 8px;
    --BtnPadding: 5px 15px;
    --fontweight: bold;
    --orderInstructionsBg: #F0693E;

}

* {
    font-family: Raleway;
}

.navbar {
    background-color: var(--navBarBgColor) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%233CB018' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: var(--textWhite) !important;
    border: none !important;
}

.logo {
    font-size: 30px;
    font-family: secondFont;
}

.fa-solid {
    font-size: 30px;
}

.navUl li a {
    font-weight: var(--fontweight);
}

.headerBtn>button {
    background-color: var(--btnBg);
    color: var(--textWhite);
    border: none;
    border-radius: var(--BtnRadius);
    padding: var(--BtnPadding);

}

.headerBtn>button:hover {
    background-color: var(--btnBgHover);
    color: var(--textWhite);
    transition: 1s ease background-color;
}

/* Slide */
.slideHeading {
    font-family: secondFont;
}

#orderInstructionsBtn,
#getSaleBtn {
    background-color: var(--orderInstructionsBg);
    padding: var(--BtnPadding);
    border: none;
    color: var(--textWhite);
    border: 2px solid var(--orderInstructionsBg);
    border-radius: var(--BtnRadius);
}

#getSaleBtn {
    background-color: var(--textWhite);
    border: 2px solid var(--TextBlack);
    font-weight: var(--fontweight);
    color: var(--TextBlack);
}

.slideBtn {
    margin-bottom: 50px;
    margin-top: 20px;
}

#slideDescription {
    font-weight: var(--fontweight);
}

.slideImgCol {
    display: flex;
    justify-content: center;
    align-items: center;
}